<div class="space-y-2">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name), class: "text-sm text-pink-600 hover:text-pink-700" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-sm text-gray-600 hover:text-gray-900" %>
  <% end %>
</div>
